<div>
  <h2>Here are some shops you can explore</h2>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card *ngFor="let shop of shops" class="shop-card">
    <mat-card-header>
      <div mat-card-avatar class="shop-header-image"></div>
      <mat-card-title> 
        {{shop.shop_name}}
      </mat-card-title>
      <mat-card-subtitle>Id: {{shop.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image routerLink="/shops/{{shop.id}}/products" src="/assets/shop-icon.jpg" alt="Photo of Shop">
    <mat-card-content>
      <p>
        Requests: {{shop.requests}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button class="delete" title="delete shop"
        (click)="delete(shop)">Delete</button>
    </mat-card-actions>
  </mat-card>

  <div>
    <h2>Add new shop</h2>
    <label>Shop name:
      <input #shopName />
    </label>
    <button (click)="create(shopName.value); shopName.value=''">
      add
    </button>
  </div>
</div>
