.shop-card {
    max-width: 200px;
    display: inline-block;
    margin-left: 5px;
}

.shop-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}